body
{
	background-color: #ffffff;
	font-family: 'Cabin', sans-serif;
	margin: 0 !important;
}
a
{
	color: white;
	text-decoration: none;
}
.up
{
	height:450px;
	background-image: url("img/tlo.png");
	width: 100% !important;
	color: white;
}
.up2
{
	margin-top: 100px;
	height:312px;
}
.title
{
	font-size: 75px; 
	text-align: center;
}

.down-button
{
	width: 100%;
}

.buttons
{
	margin-right: auto;	
	margin-left: auto;
	width: 570px;
	background-color: blue;
	margin-top: 20px;
}

.button
{
	float: left;
	background-color: #eb2828;
	color: #ffffff;
	padding: 10px;
	font-size: 18px;
	margin: 10px;
	width: 150px;
	text-align: center;
	transition: all 0.3s ease-in-out;
}
.button:hover
{
	transform: scale(0.95);
	background-color: white;
	color: black;
}
.info
{
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
}

.dol
{
	
	height: 2500px;
}
